<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">INSCRIÇÃO</div>
            <h:dataTable value="#{inscricaoBean.inscricao}" var="inscricao"
                         styleClass="order-table"
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row,order-table-even-row"
                         > 
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Número</f:facet>
                    <!-- row record -->
                    #{inscricao.numero}
                </h:column>

                <h:column>
                    <f:facet name="header">CPF</f:facet>
                        #{inscricao.cpf}
                </h:column> 

                <h:column>
                    <f:facet name="header">Nome</f:facet>
                        #{inscricao.nome}
                </h:column> 
                   <h:column>
                    <f:facet name="header">Cidade</f:facet>
                        #{inscricao.cidade}
                </h:column> 
                
                <h:column>
                    <f:facet name="header">Estado</f:facet>
                        #{inscricao.estado}
                </h:column> 
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
